#index, .images, h3, h1, p, div, body {
    text-align: center;
}

a {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 0 50px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: black;
    width: 150px;
    transition: transform 200ms;

}

h1 {
    box-sizing: border-box;
    background-color: rgb(0, 255, 200);
    border: 2px solid rgb(255, 255, 255);
    width: auto;
    margin: 15px;
    padding: 15px;

}

a:hover{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    transform: scale(1.2);
}

a:active{
    background-color: aqua;
}

ul,ol {
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

.list{
    margin-top: -30px;
}




